:root{
    --main_col: #ffb734; 
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color: #d1d1d1;
    overflow-x: hidden;
}
header{
    width: 100%;
    padding-left: 20px;
    background-color: #eeeeee;
    text-transform: uppercase;
    box-shadow: 0px 20px 20px 15px #b3b3b3;
    display: flex;
}
header h1{
    font-size: 50px;
    margin: 0px;
    color: var(--main_col);
}
main{
    margin-top: 35px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/* SCORE */
main #score_counter{
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 1fr 3fr;
    width: 710px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    background-color: #fff;
    border: 5px solid var(--main_col);
}
main #score_counter img[src='img/lenght.png']{
    grid-column: 1;
}
main #score_counter #score_lenght{
    grid-column: 2;
}
main #score_counter img[src='img/trophy.png']{
    margin-top: 5px;
    float: right;
    grid-column: 4;
}
main #score_counter #score_best{
    grid-column: 5;
}
/* GAME */
main #main{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    padding: 0px;
    background-color: var(--main_col);
    border: 10px solid var(--main_col);
    /* grid-template-columns: repeat(20 1fr);
    grid-template-rows: repeat(20 1fr); */
}
main #main .tile{
    width: 35px;
    height: 35px;
}
main #main .tile1{
    background-color: #999;
}
main #main .tile2{
    background-color: #666;
}










